<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}   {% endblock %}| Mundo Maya</title>

        <!-- ESTILOS Y FUNTES DEL TEMPLATE -->
            <!-- cargamos los recursos staticos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'nucleo/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'nucleo/css/my_style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--CABECERA-->

        <div class= "cabecera-tit container text-center mt-3">
            <h1>Mundo Maya</h1><span>restaurant</span>
            <p class="d-none d-sm-block">Disfruta de la mejor comida Mexicana</p>
        </div> 
        <!-- MENU NAVEGACION -->
        <section>
            <nav class="navbar navbar-expand-lg navbar-dark py-lg-2" id="mainNav">
                <a class="navbar-brand text-expanded text-uppercase font-weight-bold d-lg-none" href="{% url 'home'%}">Mundo Maya</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4 {%if request.path == '/'%}active{%endif%}">
                        <a class=" nav-link " href="{% url 'home'%}">Inicio</a>
                    </li>
                    <li class="nav-item  px-lg-4 {%if request.path == '/about/'%}active{%endif%}">
                        <a class="  nav-link " href="{% url 'about'%}">Historia</a>
                    </li>
                    <li class="nav-item px-lg-4 {%if request.path == '/services/'%}active{%endif%}">
                        <a class=" nav-link" href="{% url 'services'%}">Servicios</a>
                    </li>
                    <li class="nav-item  px-lg-4 {%if request.path == '/visit/'%}active{%endif%}">
                        <a class=" nav-link" href="{% url 'visit'%}">Visitanos</a>
                    </li>
                    <li class="nav-item  px-lg-4 {%if request.path == '/contact/'%}active{%endif%}">
                        <a class=" nav-link " href="{% url 'contact'%}">Contacto</a>
                    </li>
                    <li class="nav-item  px-lg-4 {%if request.path|slice:':6' == '/blog/'%}active{%endif%}">
                        <a class=" nav-link" href="{% url 'blog'%}">Blog</a>
                    </li>

                </div>
            </nav>
        
        </section>
        <!-- CONTENIDO-->
        {%block contenido%}

        {%endblock%}        
    <section class="mt-3">
        <footer class="footer mt-5 py-3">
            <div class="container ">
                <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center mt-3">
                    <li class="list-inline-item">
                        {% if LINK_TWITTER %}
                        <a href="{{LINK_TWITTER}}" class="link">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                        {%endif%}
                    </li>
                    <li class="list-inline-item">
                        {%if LINK_FACEBOOK %}
                        <a href="{{LINK_FACEBOOK}}" class="link">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                        {% endif %}
                    </li>
                    <li class="list-inline-item">
                        {%if LINK_INSTAGRAM %}
                        <a href="{{LINK_INSTAGRAM}}" class="link">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                        {%endif%}
                    </li>
                    </ul>
                    <p class="text-center">
                        {% comment %} <a href="{% url 'sample'%}" class="link">Política de privacidad</a> ·
                        <a href="{% url 'sample'%}" class="link">Aviso legal</a> ·
                        <a href="{% url 'sample'%}" class="link">Cookies</a> {% endcomment %}
                    {% load paginas_extras%}
                    {% get_lista_paginas as lista_paginas %}
                    {% for pagina in lista_paginas%}
                        <a href="{% url 'pagina' pagina.id %}" class="link">{{pagina.titulo}}</a>{%if not forloop.last%} - {%endif%}
                    {%endfor%}
                    </p>
                    <p class="copyright text-muted text-center">&copy; Pedro Macias (Estudiante Programación) -Copyright 2021  </p>
                </div>
                </div>
            </div>

        </footer>
    </section>
        <!-- Bootstrap y Javascripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>    
</html>